@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Poppins:wght@100;200;400&family=Work+Sans:wght@100;200;300;600&display=swap');

*{
    
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

.logo{
    margin-left: 10vh;
    cursor: pointer;
    display: flex;
}

body{
    width: 100%;
    background-image: url(images/bg.png);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;background-position: center;

}

.navbar{
    background-color:rgba(255, 255, 255, 0.334);;
    border: 2px solid rgba(255,255,255,0.9);
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    width: 100%;
    height: 5rem;
    top: 0;
    z-index: 11;
    position: fixed;
    display: flex;
}

nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.navtitle{
    margin-right: 60vh;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    color: black;
    font-family: 'Poppins', sans-serif;

}

nav ul{
    display: flex;
}

nav ul li a{
    display: inline-block;
    font-size: 15px;
    position: relative;
    margin: 0 30px;
    font-weight: 500;
    color: black;
    font-family: 'Poppins', sans-serif;
}


nav ul li a::after{
    border-radius: 3px;
    content: "";
    position: absolute;
    background-color:#40ff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav ul li a:hover:after{
    width: 100%;
}

.hero-content{
    max-width: 1350px;
    padding: 15%;
}

.homebg-hero{
    max-width: 1350px;
    height: 110%;
    left: 45%;
    top: 90px;
    position: absolute;
    padding-left: 15%;
    padding-bottom: 15%;
    cursor: pointer;
    transition: all .38s ease;
}

.title-hero{
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    padding-right: 250px;
    font-family: 'Poppins', cursive;
    color: rgb(79, 6, 147);
    font-size: 50px;
    font-weight: 1000;
}

.homebg-hero:hover{
    transform: translateY(-5px);
    cursor: pointer;
}

.hero-content button{
    transition: all .38s ease;
    padding: 15px 0;
    background: #8723e6;
    color: #fff;
    font-size: 1.2em;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 9em;
    margin-top: 280px;
    margin-left: 20px;
    border-radius:2em;
}

.hero-content button:hover{
    background-color: #d262ed;
    transform: translateY(-8px);
}

@media(max-width:900px){
    body{
        background-image: url(images/bg.png);
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;background-position: center;
    }

    .navbar{
        padding: 0 30px;
    }

    .homebg-hero{
        width: 55vh;
        height: 65vh;
    }

    .title-hero{
        font-size: 20px;
        margin-top: 50px;
    }

    .hero-content button{
        margin-top: 150px;
    }
    
}